* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    height: 100vh;
    place-items: center;
    background: linear-gradient(to right, #fefbd8 0%, #f7786b 100% );
}

.container{
    background: #fff;
    max-width: 400px;
    max-height: 600px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;

}
.container .logo img{
    position: absolute;
    left: 70%;
    width: 90px;
    height: 90px;
    top: 10px;
}

.container form .title{
    font-size: 30px;
    font-weight: 200;
    margin: 20x 0 10px 0;
    position: relative;

}
/* The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing to be in the HTML. */

.container form .title::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 50px;
    bottom: 2px;
    border-radius: 5px;
    background: #f7786b;
}

.container form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;

}
.container form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    border: none;

}
 /* :: is so important! and adding content'' */
.container form .underline::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.container form .underline::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: red;
    transform: scale(0);
    transform-origin: left;
    transition: all 0.3s ease;
}
/* ~ tilde means combine two tags like input focus and underlining it */
 .container form .input-box input:focus ~ .underline::after,
 .container form .input-box input:focus ~ .underline::after
 {
    transform: scale(1);
    transform-origin: left;
 }
 
.container form .button{
    margin: 40px 0 20px;
 }
/* when you need to write type of a tag use [] */
 .container form .input-box input[type="submit"]{
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    cursor:grab;
    background: red;
    transition: 0.3s ease;

 }

 .container form .input-box input[type="submit"]:hover{
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 15);
    color: red;
    border-radius: 10px;
    font-weight: bolder;
 }

 .container .text{
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 45px;
    line-height: 45px;
    opacity: 0.6;
 } 
/* styling of social media links */
   .container .github a,
   .container .twitter a,
   .container .instagram a{
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
    line-height: 45px;
    border-radius: 5px;
 } 

 .container .github a{
    background: black;
    margin: 20px 0 15px 0;
 }

 .container .github a:hover{
    background:rgb(118, 92, 92)
 }

 .container .twitter a{
    background: rgb(29 161 242);
    margin: 20px 0 15px 0;
 }
 .container .twitter a:hover{
    background: rgb(183, 221, 221);
 }
 .container .instagram a{
    background: rgb(225 48 108);
    margin: 20px 0 15px 0;

 }
 .container .instagram a:hover{
    background: rgb(226, 193, 204);
 }

 /* adding links in block element. */
 .container .github i,
.container .twitter i,
.container .instagram i{
    font-size: 22px;
    padding-right: 22px;
}

/* while making elements use comma, adding new property to a tag use colon: using pseudo elements use two colons :: */
